/* Default styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Added for mapbox */
/* .map-container {
  height: 800px;
} */

.locsidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  margin: 12px;
  border-radius: 4px;
}

/* side bar styles */
/* .sidebar {
  background-color: rgba(12, 130, 114, .9);
  overflow: hidden auto;
  border-right: 0px solid rgba(0, 0, 0, 0.25);
} */

/* listing styles on side bar of map */
/* .listings {
  height: 100%;
  padding-bottom: 60px;
}

.listings .item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #17FDFD;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #12C0B8; } 

.listings .item.active {
  background-color: #f8f8f8;
} */

::-webkit-scrollbar {
  width: 0px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #5e8cbb;
  border-radius: 0;
}

/* marker */
.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(/src/assets/vg_marker.png);
}

/* popup */
.mapboxgl-popup {
  padding-bottom: 40px;
}

/* geocoder styling i.e. search bar*/
/* .mapboxgl-ctrl-geocoder--input{
  background-color: #ffffff;
  padding: 20px;
} */


/* xs */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .map-container {
    height: 300px;
    /* background-color: blue; */
  }

  /* sets card in row form scroll mode */
  .item{
    overflow: auto; 
    min-width: 260px;
  }
  
  /* sets the list of cards row form with scroll */
  #location-list-stack{
    flex-direction: row;
    overflow: auto; 
  }
}

/* sm */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .map-container, .sidebar {
    height: 700px;
    /* background-color: orange;   */
  }
}

/* sm and up */
@media only screen and (min-width: 600px){
  /* bar now goes column mode */
  .sidebar{
    overflow: hidden auto;
  }

}

/* md */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .map-container, .sidebar{
    height: 900px;  
    /* background-color: purple; */
  }
}

/* lg */
@media only screen and (min-width: 1200px) and (max-width: 1536px) {
  .map-container, .sidebar {
    height: 1000px;
    /* background-color: green; */
  }
}

/* xl */
@media only screen and (min-width: 1536px) {
  .map-container, .sidebar {
    height: 1100px;
    /* background-color: red; */
  }
}