/* Default styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Added for mapbox */
.map-container {
  height: 800px;
}

.locsidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  margin: 12px;
  border-radius: 4px;
}
.sidebar {
  background-color: rgba(12, 130, 114, .9);
  position: absolute;
  width: 250px;
  height: 800px;
  z-index: 1;
  overflow: hidden;
  border-right: 8px solid rgba(0, 0, 0, 0.25);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* listing styles on side bar of map */
.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #17FDFD;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #12C0B8; } 

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 0px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #5e8cbb;
  border-radius: 0;
}

/* marker */
.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url(/src/assets/vg_marker.png);
}

/* popup */
.mapboxgl-popup {
  padding-bottom: 40px;
}

/* geocoder styling i.e. search bar*/
.mapboxgl-ctrl-geocoder {
  border: 0;
  border-radius: 0;
  position: relative;
  top: 0;
  width: 800px;
  margin-top: 0;
}

.mapboxgl-ctrl-geocoder > div {
  min-width: 100%;
  margin-left: 0;
}

.mapboxgl-ctrl{
  right: -280px;
}